﻿@model string
<h2 id="@Model">@Model</h2>
@using (Html.BeginForm(Model, "Home", FormMethod.Post, new {
    enctype = "multipart/form-data",
    target = "download_" + Model
})) {
    <label class="btn btn-default btn-file">
        Kies of sleep een Excel document <input type="file" name="excel">
    </label>
    <button type="submit" class="btn btn-default btn-success">@Model</button>
}
<div class="hidden alert alert-warning">Bezig met @Model.ToLowerInvariant()...</div>
<div class="hidden">
    <button class="btn btn-info">Start opnieuw</button>
</div>
<iframe class="hidden" name="download_@Model" id="download_@Model"></iframe>