﻿<div class="jumbotron">
    <h1>@ViewBag.Title</h1>
    <p class="lead">Peer review is een oplossing voor het onderling eerlijk beoordelen van subsidie-aanvragen.</p>
</div>
<div class="row">
    <div class="col-md-4">
        @{ Html.RenderPartial("Action", "Toewijzen"); }
    </div>
    <div class="col-md-4">
        @{ Html.RenderPartial("Action", "Verwerken"); }
    </div>
    <div class="col-md-4">
        <h2>Excel documenten</h2>
        <p>Het Excel document die ingevuld moet worden om reviews toe te wijzen en het scoreblad te maken is beschikbaar in 2 formaten:</p>
        <ul>
            <li><a href="/Content/peer-review.xlsx">Excel document</a>.</li>
            <li><a href="/Content/peer-review.xltx">Excel sjabloon</a>.</li>
        </ul>
        <p><a class="btn btn-info" href="/Hulp">Meer hulp &raquo;</a></p>
    </div>
</div>