﻿<div class="jumbotron">
    <h1>Over peer review</h1>
    <p class="lead">Peer review is een oplossing voor het onderling eerlijk beoordelen van subsidie-aanvragen.</p>
    <p>
        Iedere aanvrager moet 5 aanvragen van andere aanvragers rangschikken van best naar minst goed.
        <br />
        Op basis van deze beoordelingen wordt een ranglijst van de beste aanvragen samengesteld.
    </p>
    <p>
        Deze applicatie verzorgt het toewijzen van de 5 aanvragen per aanvrager en het verwerken
        van de beoordelingen in een ranglijst.
    </p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Toewijzen</h2>
        <p>
            Het toewijzen wordt uitgevoerd door het invullen van het werkblad Aanvragen in het Excel document.
        </p>
        <p>
            Dit document kan bij het onderdeel <a href="/#Toewijzen">Toewijzen</a> worden verzonden.
            Het resultaat is hetzelfde Excel document met hieraan toegevoegd een werkblad Toewijzingen waarop
            de toewijzingen van de reviews staan.
        </p>
        <h3>Regels</h3>
        <p>Bij het toewijzen van de reviews worden de volgende regels gehanteerd:</p>
        <ul>
            <li>Aanvragers moeten 5 verschillende peers beoordelen.</li>
            <li>Aanvragers mogen niet hun eigen aanvraag beoordelen.</li>
            <li>
                Aanvragers mogen niet een aanvraag mogen beoordelen van een ‘buurman’: hiertoe
                wordt de locatie van de aanvrager middels de webservice van
                <a href="http://www.geonovum.nl/onderwerpen/pdok-nationaal-georegister" target="_blank">PDOK</a>
                naar coördinaten vertaald. Een andere aanvrager wordt als ‘buurman’ beschouwd als
                deze coördinaten minder dan 15km van elkaar liggen.
            </li>
            <li>Iedere aanvraag moet 5 maal beoordeeld worden.</li>
        </ul>
        <p>
            Gepoogd wordt een toewijzing te vinden waarin het niet gebeurt dat A de aanvraag van B beoordeelt en andersom ook B die van A beoordeelt.
            Dit is echter niet voor elke hoeveelheid en combinatie van aanvragers te voorkomen. Als genoemde poging niet slaagt, zal een alternatieve
            toewijzing gemaakt worden waarin er dus <em>wel</em> wederzijds beoordeeld wordt. Dit wordt dan bij het leveren van de toewijzing vermeld.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Verwerken</h2>
        <p>
            Het verwerken wordt uitgevoerd door het invullen van het werkblad Reviews in het Excel document.
            Let op dat in verband met de validatie ook het werkblad Toewijzingen aanwezig moet zijn in dit document.
        </p>
        <p>
            Dit document kan bij het onderdeel <a href="/#Verwerken">Verwerken</a> worden verzonden.
            Het resultaat is hetzelfde Excel document met hieraan toegevoegd een werkblad Ranglijst waarop
            een ranglijst van de aanvragen staat.
        </p>
        <p>
            Als er validatiemeldingen zijn naar aanleiding van de verwerking, worden ook een werkblad Meldingen
            aan het Excel document
        </p>
        <h3>Validatie</h3>
        <p>
            De resultaten van de beoordelingen worden gevalideerd op de volgende onderdelen:
        </p>
        <ul>
            <li>Missende beoordelingen: aanvragers die geen beoordeling verzonden hebben.</li>
            <li>Dubbele beoordelingen: aanvragers die een beoordeling meerdere keren verzonden hebben.</li>
            <li>Onjuiste referenties: de referentie naar de reviewer of naar de beoordeelde aanvragen is onjuist.</li>
        </ul>
        <h3>Score</h3>
        <p>
            Per inzending wordt een score bepaald. Voor elke beoordeling krijgt een inzending 6, 4,
            3, 2 of 0 punten voor de plaatsen 1 t/m 5 respectievelijk. Een missende beoordeling
            wordt als 3 punten geteld.
        </p>
        <p>
            Vervolgens wordt een ranglijst gemaakt van inzendingen met hun aantal beoordelingen
            en hun score. De sortering is aflopend op score en vervolgens aantal beoordelingen.
    </div>
    <div class="col-md-4">
        <h2>Excel documenten</h2>
        <p>Het Excel document die ingevuld moet worden om reviews toe te wijzen en het scoreblad te maken is beschikbaar in 2 formaten:</p>
        <ul>
            <li><a href="/Content/peer-review.xlsx">Excel document</a>.</li>
            <li><a href="/Content/peer-review.xltx">Excel sjabloon</a>.</li>
        </ul>

        <h2>Demo documenten</h2>
        <p>Onderstaande documenten kunnen gebruikt worden als demo invoer:</p>
        <ul>
            <li><a href="/Content/demo-toewijzen.xlsx">Invoer voor Toewijzen</a>.</li>
            <li><a href="/Content/demo-verwerken.xlsx">Invoer voor Verwerken</a>.</li>
        </ul>

        <h2>Open Source</h2>
        <p>
            Deze applicatie is open source software gerealiseerd door <a href="mailto:wiebe@oblaka.nl">Oblaka</a>
            in opdracht van de Provincie Noord-Brabant.
        </p>
        <p>
            De broncode is beschikbaar gesteld via
            <a href="https://bitbucket.org/oblaka-nl/peer-review/" target="_blank" title="repository van de broncode">deze link</a>.
            Hier zijn ook instructies te vinden om de software zelf te installeren.
        </p>
    </div>
</div>