﻿body {
  padding-bottom: 20px;
  padding-top: 50px;
}

/* Set padding to keep content from hitting the edges */

.body-content {
  padding-left: 15px;
  padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */

input,
select,
textarea { max-width: 280px; }

footer {
  margin-top: 2ex;
  text-align: center;
  border-top: 1px solid #eee;
}

@media (min-width: 992px) {
  footer {
    text-align: left;
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: #fff;
    border-left: 1px solid #eee;
    border-top-left-radius: 6px;
    padding-left: 1ex;
  }
}

address {
  margin: 0;
  padding: 0;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}